<div class='box-header'>
  <h2>Students</h2>
  <%= link_to students_path, class: ['more'] do%>
    <span class='glyphicon glyphicon-th-list'></span>
  <% end %>
</div>
<div class='box-body'>
  <table class='table'>
    <thead>
      <tr class='tr'>
        <td class='td'>Name</td>
        <td class='td'>sex</td>
        <td class='td'>address</td>
        <td class='td'>subject</td>
      </tr>
    </thead>
    <tbody class='students-collection'>
      <% if !@students.nil? %>
        <% @students.each do |student| %>
          <tr class='vertical-middle students-list'>
            <td><%= student.name%></td>
            <td><%= student.sex%></td>
            <td><%= student.address%></td>
            <td><%= student.school%></td>
            <td><%= student.account.nil? %></td>
            <td><%= link_to 'View', student, class: ['btn btn-sm btn-primary']%></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
