<p id="notice"><%= notice %></p>

<%= render 'layouts/sercher' %>
<div class='fix-bounds'>
    <table class='table .table-hover'>
        <thead>
            <tr class='tr'>
                <td class='td'>Name</td>
                <td class='td'>sex</td>
                <td class='td'>address</td>
                <td class='td'>subject</td>
                <td class='td'>account</td>
            </tr>
        </thead>
        <tbody>
            <ul class='students-collection'>
                <% if !@students.nil? %>
                <% @students.each do |student| %>
                <tr class='vertical-middle'>
                    <td><%= student.name %></td>
                    <td><%= student.sex %></td>
                    <td><%= student.address %></td>
                    <td><%= student.school %></td>
                    <td><%= !student.account.nil? %></td>
                    <td><%= link_to 'View', student, class: ['btn btn-sm btn-primary']%></td>
                </tr>
                <% end %>
                <% end %>
            </ul>
        </tbody>
    </table>
    <div class='space-block'></div>
    <%= paginate @students %>
</div>
