<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @teacher.sex %>
</p>

<p>
  <strong>Address:</strong>
  <%= @teacher.address %>
</p>

<p>
  <strong>School:</strong>
  <%= @teacher.school %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @teacher.intro %>
</p>

<%= link_to '预约',appoint_path(@teacher) , class: ['btn btn-sm btn-danger'], method: :post %> 
