<p id="notice"><%= notice %></p>
<button class='back btn btn-sm btn-primary' role='back'>Back</button>
<div class='course-info'>
  <div class='info-box'>
    <div class='ico-box'>
      <%=  image_tag 'index/avatar.jpg', class: ['info-ico'] %>
    </div>
    <ul class='fix-ico-right'>
      <li class='fix-item'>
        <span>课程名：</span>
        <span><%= @course.name%></span>
      </li>
      <li class='fix-item'>
        <span>讲师：</span>
        <span><%= link_to @course.teacher.name || '', @course.teacher %></span>
      </li>
      <li class='fix-item'>
        <span>课程类型：</span>
        <span><%= @course.category %></span>
      </li>
      <li class='fix-item'>
        <span>开班日期:</span>
        <span><%= @course.begintime %></span>
      </li>
      <li class='fix-item'>
        <span>地点:</span>
        <span><%= @course.place %></span>
      </li>
      <li class='fix-item'>
        <span>上课时间:</span>
        <span><%= @course.class_time %></span>
      </li>
      <li class='fix-item'>
        <span>课时数:</span>
        <span><%= @course.is_public %></span>
      </li>
      <li class='fix-item'>
        <span>课程评分:</span>
        <span><%= @course.score %></span>
      </li>
      <li class='fix-item'>
        <span>价格:</span>
        <span><%= @course.price %></span>
      </li>
    </ul>
  </div>
</div>
<div class='intro-box'>
  <div class='intro-head'>
    <span>课程介绍</span>
  </div>
  <div class='intro-content'>
    <span><%= @course.intro %>假装是课程介绍</span>
  </div>
</div>
<!-- 帐号已登录且非该课程老师帐号的情况 -->
<% if @student && @teacher != @course.teacher %>
  <% if !@student.courses.include?(@course) &&%>
    <%= link_to '我要报名', entry_course_path(@course), method: :post, class: 'btn btn-primary'%>
  <% else %>
    <label class='label label-info'>您已报名该课程</label>
  <% end %>
  <!-- 帐号未登录的情况 -->
<% elsif !@student %>
  <%= link_to '我要报名', entry_course_path(@course), method: :post, class: 'btn btn-primary'%>
<% end %>
