<%= render 'teacher_tab' %>

<table id='all' class='table tab-pane fade in active' role="tabpanel">
	<thead>
		<tr>
			<td>name</td>
			<td>sex</td>
			<td>school</td>
		</tr>
	</thead>
	<tbody>
		<% if !@students.nil? %>
		 <% @students.each do |s| %>
		  <tr>
			 <td><%= s.id %></td>
			 <td><%= s.sex %></td>
			 <td><%= s.school %></td>
			 <td><%= link_to '详情', student_path(s), class: [:btn, 'btn-primary'] %></td>
		  </tr>
		 <% end %>
		<% end %>
	</tbody>
</table>
