<!DOCTYPE html>
<html>
<head>
  <title>Tutor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/nav' %>
    <div class='tab'>
	  <ul>
		  <li><a href='#'>基本信息</a></li>
		  <li><a href='#'>我的课程</a></li>
		  <li><a href='#'>更多</a></li>
	  </ul>
   </div>

    <%= yield %>

<!-- <div class='bottom-nav'> -->
</body>
</html>
