<p id="notice"><%= notice %></p>

<p>
    <strong>Acount number:</strong>
    <%= @account.number %>
</p>

<p>
    <strong>Pwd:</strong>
    <%= @account.pwd %>
</p>

<p>
    <strong>Username:</strong>
    <%= @account.username %>
</p>

<p>
    <strong>Phone:</strong>
    <%= @account.phone %>
</p>

<p>
    <strong>Email:</strong>
    <%= @account.email %>
</p>

<p>
    <strong>Is teacher:</strong>
    <%= @account.is_teacher %>
</p>

<p>
    <strong>Is vip:</strong>
    <%= @account.is_vip %>
</p>

<p>
    <strong>Is access:</strong>
    <%= @account.is_access %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %>
|
<%= link_to 'Back', accounts_path %>
